@page "/tours/{TourId:int}"
@using Microsoft.AspNetCore.Components.Authorization
@using VirtualMuseum.Services
@using VirtualMuseum.Models
@using VirtualMuseum.Data
@inject AuthenticationStateProvider AuthStateProvider
@inject FeedbackService FeedbackService
@inject TourService TourService
@inject ApplicationDbContext Db
@inject IJSRuntime JS
@rendermode InteractiveServer


<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <h3>@tour?.Name</h3>
    <div class="mb-3">
        <p class="d-flex justify-content-center align-content-center">Дата: @tour?.Date.ToShortDateString()</p>
        @if (tour != null){
            @if (tour.Exhibits.Any())
            {
                <div id="tourCarousel" class="carousel slide mb-4 bg-dark" data-bs-ride="carousel" data-bs-interval="2000">

                    <div class="carousel-indicators">
                        @{
                            int slide = 0;
                            bool isFirstB = true;
                        }
                        @foreach (var exhibit in tour.Exhibits)
                        {
                            foreach (var image in exhibit.Images)
                            {
                                <button type="button" data-bs-target="#tourCarousel" data-bs-slide-to="@slide" class="@(isFirstB ? "active" : "")" aria-current="true" aria-label="Slide @slide"></button>
                                slide += 1;
                                isFirstB = false;
                            }
                        }
                    </div>

                    <div class="carousel-inner" style="width:900px; height:600px !important; align-content:center; align-items:center;">
                        @{
                            bool isFirst = true;
                        }


                        @foreach (var exhibit in tour.Exhibits)
                        {
                            foreach (var image in exhibit.Images)
                            {
                                <div class="carousel-item @(isFirst ? "active" : "")">
                                    <img src="@image.ImageUrl"
                                            class="d-block w-100 rounded"
                                         style=" max-height:600px; object-fit: contain;"
                                            alt="@exhibit.Title" />

                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@exhibit.Title</h5>
                                        <p>@exhibit.Description</p>
                                    </div>
                                </div>

                                isFirst = false;
                            }
                        }
                    </div>

                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#tourCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>

                    <button class="carousel-control-next" type="button"
                            data-bs-target="#tourCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            }
            else
            {
                <p class="text-muted">В туре пока нет экспонатов</p>
            }
        }
        
        
    </div>
    <p class="d-flex justify-content-center align-content-center mb-3">@tour?.Description</p>
    <div class="mb-3">
        @if (isOwner)
        {
            <a class="btn btn-warning" href="/tours/edit/@tour!.Id">
                Изменить тур
            </a>
        }
    </div>

    
</div>

<hr />

<h4>Отзывы</h4>

@foreach (var fb in feedbacks)
{
    <div class="border p-2 mb-2">
        <b>@fb.UserName </b>
        @for (int i = 1; i <= fb.Rating; i++)
        {
            <span class="text-warning">★</span>
        }
        <br/>
        @fb.Message
    </div>
}

<hr />

<AuthorizeView>
    <Authorized>
        <h5>Оставить отзыв</h5>
        <div class="mb-3">
            <textarea class="form-control" @bind="message"></textarea><br />
            <label class="form-label">Оценка:</label>
            <div class="star-rating">
                @for (int i = 5; i >= 1; i--)
                {
                    int stars = i;
                    <input type="radio"
                           name="rating"
                           id="@($"star-{i}")"
                           checked="@(ratingStars == i)"
                           @onchange="() => ratingStars = stars" />

                    <label for="@($"star-{i}")">★</label>
                }
            </div>
            <button class="btn btn-primary" @onclick="Send">Отправить отзыв</button>
        </div>
        
    </Authorized>
    <NotAuthorized>
        <p class="text-muted">
            Чтобы оставить отзыв, необходимо
            <a href="/Account/Register">зарегистрироваться</a>
            или
            <a href="/Account/Login">войти</a>.
        </p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int TourId {get; set;}

    VirtualMuseum.Models.Tour? tour;
    bool isOwner = false;

    List<VirtualMuseum.Models.Feedback> feedbacks = new();

    string message = string.Empty;
    public int ratingStars = 5;

    protected override async Task OnInitializedAsync()
    {
        tour = await TourService.GetByIdAsync(TourId);

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity!.IsAuthenticated && tour != null)
        {
            var userId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
            isOwner = tour.OwnerId == userId;
        }

        feedbacks = await FeedbackService.GetByTourAsync(TourId);
    }

    

    void SetRating(int value)
    {
        ratingStars = value;
        Console.WriteLine($"Setting rating. ratingStars = {ratingStars}");
    }

    async Task Send()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity!.IsAuthenticated)
            return;

        await FeedbackService.AddAsync(new VirtualMuseum.Models.Feedback
            {
                TourId = TourId,
                Message = message,
                Rating = ratingStars,
                UserName = user.Identity.Name!
            });

        feedbacks = await FeedbackService.GetByTourAsync(TourId);
        message = string.Empty;
        ratingStars = 5;
        Console.WriteLine($"Sending feedback. ratingStars = {ratingStars}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && tour?.Exhibits.Any() == true)
        {
            await JS.InvokeVoidAsync("initCarousel", "tourCarousel");
        }
    }

}
